__pycache__
.ipynb_checkpoints
data/GeoNet_CMT_solutions.csv
data/earthquakes.csv
data/kaikoura.csv
data/TephraNZ
data/Kaikoura_acceleration_in_wellington_demeaned.txt
data/temperature_gradient.txt
images/GNSS_offsets_PYGR_hidpi.png
images/GNSS_offsets_PYGR.png
