name: esci451
channels:
  - conda-forge
dependencies:
  - python=3.7
  - numpy
  - scipy
  - pandas
  - matplotlib
  - jupyter
  - pytest
  - nbval
  - requests
  - geographiclib
  - ipympl
  - widgetsnbextension
  - xlrd
